<h2 class="display-5 text-center my-2">Upload Excel</h2>
<hr>

<div class="row no-gutters">


    <div class="w-25 border-right col-3 ">

        <div class="list-group list-group-flush  text-center">
            <a class="list-group-item list-group-item-action active" [routerLink]="['/import-data']">Import Data</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/manage-company']">Manage Company</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/users']">Manage Users</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/manage-exchange']">Manage Exchange</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/manage-ipo']">Manage IPO</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/home']">Logout</a>
        </div>

    </div>

    <div class="container float-right col w-75 ml-5 mt-5 ">
        <form [formGroup]="uploadFile" class="custom-file w-50">
            <div class="formGroup">
                <input type="file" formControlName="file" class="formControl custom-file-input ">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>

            <div class="float-right mt-2">
                <input type="submit" class="btn btn-success px-5">
            </div>
        </form>

    </div>
</div>