<!-- header -->
<header class="">
    <!-- <div class="w-100">
        <ul class="nav  justify-content-center">
            <li class="nav-item">
                <a href="#" class="navbar-brand ">
                    <img src="../assets/images/logo.png" width="80" height="80" alt="logo">
                </a>
            </li>
            <li class="nav-item">
                <p class="display-3 text-dark">Stock Charts</p>
            </li>

        </ul>
    </div> -->

    <nav class="navbar navbar-expand-md navbar-dark bg-style bg-dark sticky-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <img src="../assets/images/logo.png" width="80" height="80" alt="logo">
            <h2 class="display-4 text-white text-info">&nbsp;<span class="text-light">S</span>tock <span
                    class="text-light">C</span>harts</h2>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a [routerLink]="['home']" class="nav-link"
                        [routerLinkActive]="['active']">HOME</a></li>
                <li class="nav-item"><a [routerLink]="['contact']" class="nav-link"
                        [routerLinkActive]="['active']">CONTACT US</a></li>
                <li class="nav-item"><a [routerLink]="['about']" class="nav-link" [routerLinkActive]="['active']">ABOUT
                        US</a></li>
            </ul>

        </div>
    </nav>

</header>
<!-- header -->
<main>

    <div *ngIf="isAdmin">
        <app-admin-landing-page></app-admin-landing-page>
    </div>
    <div *ngIf="!isAdmin">
        <router-outlet></router-outlet>
    </div>

</main>
<!-- Footer -->
<footer class="page-footer sticky-bottom font-small bg-dark text-light">
    <div class="text-center py-3">&copy; 2020 Copyright:
        <a href="#">Stock Charts</a>
    </div>

</footer>
<!-- Footer -->