<div class="container ">
    <h2 class="display-3 my-3 text-center">Sign In</h2>
    <form [formGroup]="loginForm" class="form-group w-50 container">
        <label>Username:</label>
        <input type="text" class="form-control mb-3" formOntrolName="userName" placeholder="Enter your user name">
        <label>Password:</label>
        <input type="text" class="form-control mb-3" formOntrolName="password" placeholder="Enter your password">

        <br>
        <br>
        <input type="reset" class="btn btn-lg btn-info px-5 ">
        <input type="submit" class="btn btn-lg btn-success px-5">
    </form>
</div>