<h2 class="display-5 text-muted text-center my-2">Users List</h2>
<hr>
<div class="row no-gutters ">
    <div class="w-25 border-right  col-3 h-75 ">

        <div class="list-group list-group-flush  text-center ">
            <a class="list-group-item list-group-item-action" [routerLink]="['/import-data']">Import Data</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/manage-company']">Manage Company</a>
            <a class="list-group-item list-group-item-action active" [routerLink]="['/users']">Manage Users</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/manage-exchange']">Manage Exchange</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/manage-ipo']">Manage IPO</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/manage-stockPrice']">Manage Stock
                Price</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/home']">Logout</a>
        </div>

    </div>
    <div class="container float-right col w-75">
        <table class="table text-center table-striped table-hover table-light">
            <tr>
                <th>Id</th>
                <th>username</th>
                <th>password</th>
                <th>user type</th>
                <th>email</th>
                <th>phone</th>
                <th colspan="2">Actions</th>
            </tr>
            <tbody>
                <tr *ngFor="let user of userList">
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.userType}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td><button class="btn btn-info" (click)="updateUser(user)">Update</button></td>
                    <td><button class="btn btn-danger" (click)="deleteUser(user)">Delete</button></td>
                </tr>
            </tbody>
        </table>

        <div class="text-center">
            <button class="btn btn-success w-25 " routerLink="/sign_up">Add New User</button>
        </div>

    </div>
</div>