<h2 class="display-5 text-center text-muted my-3"><i class="fa fa-file-excel-o fa-lg" aria-hidden="true"></i>
    &nbsp;Upload
    Excel</h2>
<hr>

<div class="row mt-3">

    <div class="col-12 col-md-6 offset-md-3 card p-5">
        <div class="card" style="background:none;border:none;">
            <div class="custom-file">
                <input type="file" name="excelFileUpload" (change)="onFileChange($event)" class="custom-file-input"
                    id="inputGroupFile">
                <label class="custom-file-label" for="inputGroupFile">Choose file</label>
            </div>
            <div class="input-group-append mt-1">
                <span class="input-group-text" (click)="uploadData()" id="inputGroupFileAddon" type="button">Upload
                </span>
            </div>
        </div>

    </div>
</div>