<h2 class="display-5 text-muted text-center my-2">Welcome Admin</h2>
<hr>

<div class="row no-gutters">

    <div class="list-group list-group-flush text-center px-0 border-right col-3">
        <a class="list-group-item list-group-item-action" [routerLink]="['/import-data']">Import Data</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/manage-company']">Manage Company</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/users']">Manage Users</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/manage-exchange']">Manage Exchange</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/manage-ipo']">Manage IPO</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/manage-stockPrice']">Manage Stock
            Price</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/home']">Logout</a>
    </div>

    <div class="col">
            <h4 class=" text-info">&lt;-----Select through the options</h4>
    </div>

</div>