<div class="row mt-3 mr-2">
    <div class="col-5  col-md-4 offset-md-4 ">
        <h2 class="display-5 text-muted text-center">Welcome Admin</h2>
    </div>
    <div class="col col-md-4">
        <button class="btn border-dark float-right mr-2"><i class="fa fa-sign-out fa-lg"></i>Logout</button>
    </div>
</div>
<hr>
<br>
<div class="container">
    <div class="row no-gutters">
        <div class="card-columns m-0 p-0  mx-auto" style="column-gap: auto !important;">
            <a [routerLink]="['/import-data']" class="card text-center  mx-auto  shadow" style="width:13rem;">
                <div class="card-header bg-dark p-4 card-hover text-muted">
                    <i class="fa fa-file-excel-o fa-5x" aria-hidden="true"></i>
                </div>
                <div class="bg-light">
                    <h5 class="card-title">Import Data</h5>
                </div>
            </a>
            <a [routerLink]="['/manage-company']" class="card text-center mx-auto  shadow" style="width: 13rem;">
                <div class="card-header bg-dark p-4 card-hover text-muted">
                    <i class="fa fa-building fa-5x" aria-hidden="true"></i>
                </div>
                <div class="bg-light">
                    <h5 class="card-title">Manage Company</h5>
                </div>
            </a>
            <a [routerLink]="['/users']" class="card text-center  mx-auto shadow" style="width: 13rem;">
                <div class="card-header bg-dark p-4 card-hover text-muted">
                    <i class="fa fa-user fa-5x" aria-hidden="true"></i>
                </div>
                <div class="bg-light">
                    <h5 class="card-title">Manage Users</h5>
                </div>
            </a>
            <a [routerLink]="['/manage-exchange']" class="card text-center mx-auto  shadow" style="width: 13rem;">
                <div class="card-header bg-dark p-4 card-hover text-muted">
                    <i class="fa fa-exchange fa-5x" aria-hidden="true"></i>
                </div>
                <div class="bg-light">
                    <h5 class="card-title">Manage Exchange</h5>
                </div>
            </a>
            <a [routerLink]="['/manage-ipo']" class="card text-center mx-auto  shadow " style="width: 13rem;">
                <div class="card-header bg-dark p-4 card-hover text-muted">
                    <i class="fa fa-money fa-5x" aria-hidden="true"></i>
                </div>
                <div class="bg-light">
                    <h5 class="card-title">Manage IPO</h5>
                </div>
            </a>
            <a [routerLink]="['/manage-stockPrice']" class="card text-center mx-auto  shadow" style="width: 13rem;">
                <div class="card-header bg-dark p-4 card-hover text-muted">
                    <i class="fa fa-inr fa-5x" aria-hidden="true"></i>
                </div>
                <div class=" bg-light">
                    <h5 class="card-title">Stock Price</h5>
                </div>
            </a>
        </div>
    </div>
</div>