<div class="row mt-3">
    <div class="col-4 offset-4">
        <h2 class="display-5 text-muted text-center">Welcome Admin</h2>
    </div>
    <div class="col-4">
        <button class="btn border-dark float-right mr-5"><i class="fa fa-sign-out fa-lg"></i>Logout</button>
    </div>
</div>
<hr>
<br>
<div class="container">

    <div class="row no-gutters">
        <div class="card-deck mx-auto">
            <div class="col">
                <div class="card text-center shadow" style="width:13rem;">
                    <a [routerLink]="['/import-data']" class="bg-dark p-4 card-hover text-muted"> <i
                            class="fa fa-file-excel-o fa-5x" aria-hidden="true"></i></a>
                    <div class=" bg-light">
                        <h5 class="card-title">Import Data</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center shadow" style="width: 13rem;">
                    <a [routerLink]="['/manage-company']" class="bg-dark p-4 card-hover text-muted"> <i
                            class="fa fa-building fa-5x" aria-hidden="true"></i></a>
                    <div class=" bg-light">
                        <h5 class="card-title">Manage Company</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center shadow" style="width: 13rem;">
                    <a [routerLink]="['/users']" class="bg-dark p-4 card-hover text-muted"> <i class="fa fa-user fa-5x"
                            aria-hidden="true"></i></a>
                    <div class="bg-light">
                        <h5 class="card-title">Manage Users</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center shadow" style="width: 13rem;">
                    <a [routerLink]="['/manage-exchange']" class="bg-dark p-4 card-hover text-muted"> <i
                            class="fa fa-exchange fa-5x" aria-hidden="true"></i></a>
                    <div class="bg-light">
                        <h5 class="card-title">Manage Exchange</h5>
                    </div>
                </div>
            </div>
        </div>


        <div class="card-deck mx-auto mt-4">
            <div class="col">
                <div class="card text-center shadow" style="width: 13rem;">
                    <a [routerLink]="['/manage-ipo']" class="bg-dark p-4 card-hover text-muted"> <i class="fa fa-money fa-5x"
                            aria-hidden="true"></i></a>
                    <div class="bg-light">
                        <h5 class="card-title">Manage IPO</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center shadow" style="width: 13rem;">
                    <a [routerLink]="['/manage-stockPrice']" class="bg-dark p-4  card-hover text-muted"> <i class="fa fa-inr fa-5x"
                            aria-hidden="true"></i></a>
                    <div class=" bg-light">
                        <h5 class="card-title">Stock Price</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>