<h2 class="display-5 text-muted text-center my-2">Manage IPO</h2>
<hr>
<div class="row no-gutters">
    <div class="w-25 border-right  col-3 h-75">

        <div class="list-group list-group-flush  text-center">
            <a class="list-group-item list-group-item-action" [routerLink]="['/import-data']">Import Data</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/manage-company']">Manage Company</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/users']">Manage Users</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/manage-exchange']">Manage Exchange</a>
            <a class="list-group-item list-group-item-action active" [routerLink]="['/manage-ipo']">Manage IPO</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/home']">Logout</a>
        </div>

    </div>
    <div class="container float-right col w-75">
        <table class="table text-center">
            <tr>
                <th>Id</th>
                <th>Company Name</th>
                <th>Stock Exchange</th>
                <th>Price per Share</th>
                <th>Total Share</th>
                <th>Open Date</th>
                <th colspan="2">Actions</th>
            </tr>
            <tr *ngFor="let ipo of ipoList">
                <td>{{ipo.id}}</td>
                <td>{{ipo.companyName}}</td>
                <td>{{ipo.stockExchange}}</td>
                <td>{{ipo.pricePerShare}}</td>
                <td>{{ipo.noOfShares}}</td>
                <td>{{ipo.openDate}}</td>
                <td><button class="btn btn-warning btn-sm" (click)="updateUser(user)">Update</button></td>
                <td><button class="btn btn-danger btn-sm" (click)="deleteIpo(ipo)">Delete</button></td>
            </tr>
        </table>

        <div class="text-center">
            <button class="btn btn-success w-25" routerLink="/add-ipo">Add IPO</button>
        </div>

    </div>
</div>