<h2 class="display-3 text-center my-3">Welcome Admin</h2>
<div class="ml-4">


    <div class="card w-25 my-3 ">
        <div class="card-header bg-info card-title"> IPO's </div>
        <div class="card-body">
            <p class="card-text">To know about IPO's, follow the link</p>
            <button class="btn btn-info float-right">explore>>></button>
        </div>
    </div>

    <div class="card w-25 my-3">
        <div class="card-header bg-info card-title"> IPO's </div>
        <div class="card-body">
            <p class="card-text">To know about IPO's, follow the link</p>
            <button class="btn btn-info float-right">explore>>></button>
        </div>
    </div>

    <div class="card w-25 my-3  ">
        <div class="card-header bg-info card-title"> IPO's </div>
        <div class="card-body">
            <p class="card-text">To know about IPO's, follow the link</p>
            <button class="btn btn-info float-right">explore>>></button>
        </div>
    </div>

</div>