<h2 class="display-5 text-muted text-center my-2">Manage IPO</h2>
<hr>
<div class="row no-gutters">
    <div class="w-25 border-right  col-3 h-75">

        <div class="list-group list-group-flush  text-center">
            <a class="list-group-item list-group-item-action" [routerLink]="['/import-data']">Import Data</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/manage-company']">Manage Company</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/users']">Manage Users</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/manage-exchange']">Manage Exchange</a>
            <a class="list-group-item list-group-item-action " [routerLink]="['/manage-ipo']">Manage IPO</a>
            <a class="list-group-item list-group-item-action active" [routerLink]="['/manage-stockPrice']">Manage Stock
                Price</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/home']">Logout</a>
        </div>

    </div>
    <div class="container float-right col w-75">
        <table class="table text-center">
            <tr>
                <th>Id</th>
                <th>Company Code</th>
                <th>Stock Exchange</th>
                <th>Current Price</th>
                <th>Date</th>
                <th>Time</th>
                <th colspan="2">Actions</th>
            </tr>
            <tr *ngFor="let price of stockPriceList">
                <td>{{price.id}}</td>
                <td>{{price.companyCode}}</td>
                <td>{{price.stockExchange}}</td>
                <td>{{price.currentPrice}}</td>
                <td>{{price.date}}</td>
                <td>{{price.time}}</td>
                <td><button class="btn btn-warning btn-sm" (click)="updateStockPrice(price)">Update</button></td>
                <td><button class="btn btn-danger btn-sm" (click)="deleteStockPrice(pice)">Delete</button></td>
            </tr>
        </table>

        <div class="text-center">
            <button class="btn btn-success w-25" routerLink="/add-stockPrice">Add Stock Price</button>
        </div>

    </div>
</div>