<h2 class="display-5 text-muted text-center my-3"><i class="fa fa-inr fa-lg" aria-hidden="true"></i>&nbsp; Manage IPO
</h2>
<hr>
<div class="row no-gutters">
    <div class="w-25 border-right  col-2 h-75">

        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action " [routerLink]="['/import-data']"><i
                    class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Import Data</a>
            <a class="list-group-item list-group-item-action " [routerLink]="['/manage-company']"><i
                    class="fa fa-building fa-lg" aria-hidden="true"></i>&nbsp; Manage Company</a>
            <a class="list-group-item list-group-item-action " [routerLink]="['/users']">
                <i class="fa fa-user fa-lg" aria-hidden="true"></i>&nbsp; Manage Users</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/manage-exchange']">
                <i class="fa fa-exchange fa-lg" aria-hidden="true"></i>&nbsp; Manage Exchange</a>
            <a class="list-group-item list-group-item-action " [routerLink]="['/manage-ipo']">
                <i class="fa fa-money fa-lg" aria-hidden="true"></i>&nbsp; Manage IPO</a>
            <a class="list-group-item list-group-item-action bg-info text-light" [routerLink]="['/manage-stockPrice']">
                <i class="fa fa-inr fa-lg" aria-hidden="true"></i>&nbsp; Manage Stock
                Price</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/home']">
                <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>&nbsp;Logout</a>
        </div>

    </div>
    <div class="container float-right col w-75">
        <table class="table text-center table-striped table-light table-hover">
            <tr>
                <th>Id</th>
                <th>Company Code</th>
                <th>Stock Exchange</th>
                <th>Current Price</th>
                <th>Date</th>
                <th>Time</th>
                <th colspan="2">Actions</th>
            </tr>
            <tbody>
                <tr *ngFor="let price of stockPriceList">
                    <td>{{price.id}}</td>
                    <td>{{price.companyCode}}</td>
                    <td>{{price.stockExchange}}</td>
                    <td>{{price.currentPrice}}</td>
                    <td>{{price.date}}</td>
                    <td>{{price.time}}</td>
                    <td><i class="fa fa-pencil fa-lg" aria-hidden="true" (click)="updateStockPrice(price)"></i></td>
                    <td><i class="fa fa-trash fa-lg" aria-hidden="true" (click)="deleteStockPrice(price)"></i></td>
                </tr>
            </tbody>
        </table>

        <div class="text-center">
            <button class="btn btn-success w-25" routerLink="/add-stockPrice">Add Stock Price</button>
        </div>

    </div>
</div>