<table class="table">
    <tr>
        <th>Id</th>
        <th>username</th>
        <th>password</th>
        <th>user type</th>
        <th>email</th>
        <th>phone</th>
    </tr>
    <tr *ngFor="let user of userList">
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td>{{user.userType}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <button class="btn btn-danger" (click)="deleteUser(user)">delete</button>
    </tr>
</table>
