<h2 class="display-5 text-muted text-center my-2">Manage Company</h2>
<hr>
<div class="row no-gutters">
    <div class="w-25 border-right  col-3 h-75">

        <div class="list-group list-group-flush  text-center">
            <a class="list-group-item list-group-item-action" [routerLink]="['/import-data']">Import Data</a>
            <a class="list-group-item list-group-item-action active" [routerLink]="['/manage-company']">Manage
                Company</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/users']">Manage Users</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/manage-exchange']">Manage Exchange</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/manage-ipo']">Manage IPO</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/manage-stockPrice']">Manage Stock
                Price</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/home']">Logout</a>
        </div>

    </div>
    <div class="container float-right col w-75">
        <table class="table text-center table-striped table-light table-hover">
            <tr>
                <th>Id</th>
                <th>Company Name</th>
                <th>CEO name</th>
                <th>TurnOver</th>
                <th>Board of Directors</th>
                <th>Sector</th>
                <th>IPO Name</th>
                <th>Actions</th>
            </tr>

            <tbody>
                <tr *ngFor="let company of companyList">
                    <td>{{company.id}}</td>
                    <td>{{company.companyName}}</td>
                    <td>{{company.ceoName}}</td>
                    <td>{{company.turnover}}</td>
                    <td>{{company.boardOfDirectors}}</td>
                    <td>{{company.sector}}</td>
                    <td>{{company.iponame}}</td>
                    <td><button class="btn btn-info btn-sm" (click)="updateCompany(company)">Update</button></td>
                    <td><button class="btn btn-danger btn-sm" (click)="deleteCompany(company)">Delete</button></td>
                </tr>
            </tbody>
        </table>

        <div class="text-center">
            <button class="btn btn-success w-25 " routerLink="/add-company">Add Company</button>
        </div>

    </div>
</div>