<h2 class="display-5 text-center text-muted my-2">Welcome User</h2>
<hr>
<div class="row no-gutters">

    <div class="list-group list-group-flush text-center px-0 border-right col-3">
        <a class="list-group-item list-group-item-action" [routerLink]="['/user-ipo-list']">IPO's</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/compare-company']">Compare Company</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/compare-sectors']">Compare Sectors</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/home']">Logout</a>
    </div>

    <div>
        <h4 class=" text-info">&lt;-----Select through the options</h4>
    </div>

</div>